<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Medicon</title>

    <environment include="Development">
        @*


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Cerulean.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cyborg.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-journal.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-simplex.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-united.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-yeti.css" />
            ------------------------------Testados ------------------------------------------------
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-sandstone.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-superhero.css" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-spacelab.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
        *@

        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-united.css" />*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />




        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap-chosen.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datatables/DT_bootstrap.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sistema Medicon</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Cadastro <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a asp-area="" asp-controller="Plano" asp-action="Index" class="dropdown-toggle">Plano</a></li>
                                <li> <a asp-area="" asp-controller="Equipe" asp-action="Index" class="dropdown-toggle">Equipe</a></li>
                                <li> <a asp-area="" asp-controller="Corretor" asp-action="Index" class="dropdown-toggle">Corretor</a></li>
                                <li> <a asp-area="" asp-controller="Cliente" asp-action="Index" class="dropdown-toggle">Cliente</a></li>
                                <li> <a asp-area="" asp-controller="PrecoPlano" asp-action="Index" class="dropdown-toggle">Preço plano</a></li>
                                <li> <a asp-area="" asp-controller="Proposta" asp-action="Index" class="dropdown-toggle">Proposta</a></li>
                                <li> <a asp-area="" asp-controller="Dependente" asp-action="Index" class="dropdown-toggle">Dependente</a></li>
                                <li> <a asp-area="" asp-controller="FaixaEtaria" asp-action="Index" class="dropdown-toggle">Faixa etaria</a></li>

                            </ul>
                        </li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li> <a asp-area="" asp-controller="Plano" asp-action="Index" class="dropdown-toggle">Plano</a></li>
                    <li> <a asp-area="" asp-controller="Equipe" asp-action="Index" class="dropdown-toggle">Equipe</a></li>
                    <li> <a asp-area="" asp-controller="Corretor" asp-action="Index" class="dropdown-toggle">Corretor</a></li>
                    <li> <a asp-area="" asp-controller="Cliente" asp-action="Index" class="dropdown-toggle">Cliente</a></li>
                    <li> <a asp-area="" asp-controller="PrecoPlano" asp-action="Index" class="dropdown-toggle">Preço plano</a></li>
                    <li> <a asp-area="" asp-controller="Proposta" asp-action="Index" class="dropdown-toggle">Proposta</a></li>
                    <li> <a asp-area="" asp-controller="Dependente" asp-action="Index" class="dropdown-toggle">Dependente</a></li>
                    <li> <a asp-area="" asp-controller="FaixaEtaria" asp-action="Index" class="dropdown-toggle">Faixa etaria</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0

            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - <a href="https://www.asp.net/">V3MSoluções Obs. Informações meramente ilustrativas não tem nenhum valor para comercialização! </a></strong>

        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/chosen.jquery.js" asp-append-version="true"></script>


        <script src="~/js/jquery.inputmask/jquery.inputmask.js" asp-append-version="true"></script>
        <script src="~/js/jquery.inputmask/jquery.inputmask.date.extensions.js" asp-append-version="true"></script>
        <script src="~/js/jquery.inputmask/jquery.inputmask.extensions.js" asp-append-version="true"></script>
        <script src="~/js/jquery.inputmask/jquery.inputmask.numeric.extensions.js" asp-append-version="true"></script>
        <script src="~/js/jquery.inputmask/jquery.inputmask.phone.extensions.js" asp-append-version="true"></script>
        <script src="~/js/jquery.inputmask/jquery.inputmask.regex.extensions.js" asp-append-version="true"></script>


        @* ----------------# scripts adiconado por usuário # -------------------- *@
        <script src="~/lib/bootstrap/dist/js/datatables/jquery.dataTables.js"></script>
        <script src="~/lib/bootstrap/dist/js/datatables/DT_bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
