@model MediconEFC.Models.EquipeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Alterar equipe</h3>
        </div>
    </div>
    <hr />

    <div class="row-fluid">
        <div class="block">
            <div class="form-group">
                <form asp-action="Edit" id="myformCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Equipe.Id" />
                    <div class="form-group col-md-11 col-md-offset-1">
                        <label asp-for="Equipe.Nome" class="control-label"></label>
                        <input asp-for="Equipe.Nome" class="form-control" />
                        <span asp-validation-for="Equipe.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 col-md-offset-1">
                        <label asp-for="Equipe.Telefone" class="control-label"></label>
                        <input asp-for="Equipe.Telefone" class="form-control" />
                        <span asp-validation-for="Equipe.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 col-md-offset-1">
                        <label asp-for="Equipe.Contato" class="control-label"></label>
                        <input asp-for="Equipe.Contato" class="form-control" />
                        <span asp-validation-for="Equipe.Contato" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11 col-md-offset-1">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Equipe.Ativo" /> @Html.DisplayNameFor(model => model.Equipe.Ativo)
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-11 col-md-offset-1">
                        <label asp-for="Equipe.CorretorId" class="control-label"></label>
                        <select asp-for="Equipe.CorretorId" id="cboCorrretor" asp-items="@(new SelectList(Model.listaCorretor,"Id", "Nome"))" class="form-control chosen-select"></select>
                        <input type="hidden" asp-route-id="" asp-for="Equipe.CorretorId" id="idCorretorSelecionado" />
                    </div>
                    <div class="form-group col-md-offset-9">
                        <input type="submit" value="Alterar" class="btn btn-success cssEdit" />
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </div>

                </form>


            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="ModalResult" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tipoMensagemResult"></h4>
            </div>
            <div class="modal-body">
                <p id="MsgResult"></p>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnFecharModalResult" value="Fechar" class="btn btn-default" />

            </div>
        </div>

    </div>
</div>

<!-- Modal Confirm -->
<div class="modal fade" data-backdrop="static" id="ModalConfirm" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tipoMensagemConfirm"></h4>
            </div>
            <div class="modal-body">
                <p id="MsgConfirm"></p>
                <div class="modal-footer">
                    <input type="submit" value="Sim" class="btn btn-success cssEditConfirm" />
                    <input type="button" id="btnFecharModal" value="Não" class="btn btn-default" />
                </div>

            </div>

        </div>

    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            ////--------------------------Cbo / mask--------------------------
            $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
            $("#Equipe_Telefone").inputmask("mask", { "mask": "(99)99999-9999" });

            $('.cssEdit').on('click', function (e) {
                e.preventDefault();
                $("#tipoMensagemConfirm").text("Mensagem de confirmação");
                $("#MsgConfirm").html("Deseja realmente alterar está equipe?");
                $('#ModalConfirm').modal("show");

            });

            $('#btnFecharModal').on('click', function () {
                $("#ModalConfirm").modal("hide");
            });

            $('.cssEditConfirm').on('click', function (e) {
                e.preventDefault();

                //Seta o id do corretor selecionado
                $('#idCorretorSelecionado').val($("#cboCorrretor").val());
                //Enviar o formulário inteiro para controller "model"
                var formData = $('#myformCreate').serialize();
                if (!formData.match(/=&|=$/)) {

                    $("#ModalConfirm").modal("hide");

                    $.post('/Equipe/AlterarEquipe', formData, function (data) {
                        $("#tipoMensagemResult").text(data.TituloMensagem);
                        $("#MsgResult").html(data.DescricaoMensagem);
                        $('#ModalResult').modal("show");

                    });
                }
            });


            $("#btnFecharModalResult").click(function () {
                window.location.href = '@Url.Action("Index", "Equipe")';
            });


        });
    </script>
}


