@model MediconEFC.Models.Plano

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Cadastrar novo plano</h3>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="block">

            <div class="form-group">
                <form asp-action="Create" id="myformCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-11 col-md-offset-1">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-offset-9">
                        <input type="submit" value="Create" class="btn btn-success cssDeleteConfirm" />
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="ModalResult" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tipoMensagemResult"></h4>
            </div>
            <div class="modal-body">
                <p id="MsgResult"></p>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnFecharModalResult" value="Fechar" class="btn btn-default" />

            </div>
        </div>

    </div>
</div>


<div id="resultadoInclusao">
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {

            $('#myformCreate').on('submit', function (e) {
                e.preventDefault();
                //Enviar o formulário inteiro para controller "model"
                var formData = $(this).serialize();
                if (!formData.match(/=&|=$/)) {

                    $.post('/Plano/CadastrarPlano', formData, function (data) {
                        $("#tipoMensagemResult").text(data.TituloMensagem);
                        $("#MsgResult").html(data.DescricaoMensagem);
                        $('#ModalResult').modal("show");

                    });
                }
            });

            $("#btnFecharModalResult").click(function () {
                window.location.href = '@Url.Action("Index", "Plano")';
            });
        });
    </script>

}
