@model MediconEFC.Models.Plano

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Histórico plano</h3>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="block">
            <div class="form-group col-md-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                </dl>
            </div>
            <div class="form-group col-md-offset-10">
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</div>